body {
    background-color: gray;
}

div.main {
    background-color: white;
    margin: auto;
    padding: 30px 100px;
    width: 600px;
    font-family: 'Courier New';
}

button#calculate {
    font-size: 18px;
}

img {
    object-fit: contain;
}